{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.4"}
        com.deadmeme5441/clojure-llm-sdk
        {:git/url "https://github.com/DeadMeme5441/clojure-llm-sdk"
         :git/sha "22792ff0294e034e29f1d3a8f37540b931763e3c"}}
 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps {io.github.cognitect-labs/test-runner
                {:git/tag "v0.5.1"
                 :git/sha "dfb30dd"}}
   :main-opts ["-m" "cognitect.test-runner"]}}}
